

        <button class="button button-small" ng-click="cb_insertOfficesJSON()">CargaOficinas</button>
        <div class="container" style="padding-top: 1em;">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Estado</th>
                        <th>Procesado</th>
                        <th>Error</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div class="list" ng-repeat="lista in listaResultado">

                        <a class="item item-avatar stable-bg">
                            <tr class="active">
                                <td>{{1}}</td>
                                <td>{{listaResultado.Client.Name}}</td>
                                <td>{{listaResultado.Office.ClientId}}</td>
                                <td>{{listaResultado}}</td>
                            </tr>
                        </a>

                    </div>
                    </tbody>
                </table>
            </div>
        </div>