<!--<div id="map_canvas">-->

    <!--<ui-gmap-google-map center='mapController.map.center' zoom='mapController.map.zoom'>-->
        <!--<ui-gmap-markers models="mapController.data" coords="'location'"  options="mapController.options">-->
            <!--<ui-gmap-windows >-->
                <!--<div ng-non-bindable class="custom-info-window">-->
                    <!--Some Info-->
                <!--</div>-->
            <!--</ui-gmap-windows>-->
        <!--</ui-gmap-markers>-->
    <!--</ui-gmap-google-map>-->

<!--</div>-->
